.jumbotron {
  background-color: #ffee00;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ffee00;
  margin: 10px 0 0 0;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 5px;
  margin-top: 10px;
}
.btn-reservas {
  width: 100%;
}
